<html>
    <head>
		<title> <%=appName%> </title>
        <meta http-equiv="refresh" content="3;url=/admin/messagesMonitor" />
    </head>
    <body>
		<h1>Wellcome to <%=appName%> </h1>
        <h1>Home page not implemented yet...Redirecting to messages monitor in 3 seconds...</h1>
    </body>
</html>